@model moto.Models.mahalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mahalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semt.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semt.ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mahalleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
