@model IEnumerable<moto.Models.mahalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semt.ad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semt.ad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mahalleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.mahalleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mahalleID })
        </td>
    </tr>
}

</table>
